/* Box.css */
.choose-box-1 {
    width: 100%;
    /* height: 400px; */
    background-color: #472aeb;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;

}

/* .test-box-c{
    background-color: aquamarine;
    width: 500px;
    height: 200px;
    margin-left: 100px;
    border-radius: 20px;

} */
.serv{
    width:200px;
    padding-bottom: 303px;

}
.content-box{
    width: 415px;


}
.box-choose{
    display: flex;
}


/* why choose us card */
