/* Import the google web fonts you want to use */


/* @import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One'); */

/* Card Based Layout - Base styles */
/* 
body {
	background: hsl(249, 81%, 52%);
} */

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
/* body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Comfortaa', Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
} */





/* 
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
 */


/* why choose us part start  */
/* Box.css */
.main-area{
	background-color: #2930bf;
	height: 956px;
	width: 100%;

}
.choose-w{
	margin: 0px 0px 0px -395px;


}

.choose-box-1 {
    width: 100%;
    /* height: 400px; */
    /* background-color: #472aeb; */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;

}

.test-box-c{
    /* background-color: rgb(214, 249, 237); */
	/* background-image: ; */
	display: flex;
	flex-direction: row;
	justify-content:space-evenly ;
    width: 100%;
    height: 300px;
    border-radius: 27px;
	margin: 50px 0px 0px 0px;


}
.serv{
    width:200px;
    padding-bottom: 303px;

}
.content-box{
    width: 95%;
	color: white;
	/* background-color: rgb(49, 91, 91); */
	width: 678px;
	margin: -225px 0px 0px -563px;





}
.box-choose{
    display: flex;
}


/* why choose us card */

/* End why choose us part here  */


.card {
	background: #9290b1;
	margin-bottom: 2em;	
    border-radius: 20px;
	height: 300px;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
	margin: 20px;

}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
	margin-bottom: 14px;
	/* margin-bottom: 42px; */


}

/* Flexbox stuff */

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.card {
	flex: 0 1 24%;
}

/* .card-content{
	color: #fff;

} */
.content-why{
	color: #fff;

}
.why-card{
	/* margin-bottom: 43px; */
	color: #ffe360;
}
.row-line{
	margin: 23px;
	display: flex;
	flex-direction: row;
	/* width:100%; */
}

.test-boxq{
	width: 548px;
    height: 221px;
    border-radius: 14px;
	margin: 119px 0px 0px 675px;


}
.why-coll{
	margin: 85px 0px 0px -203px;

}
.why-rang{
	margin: 0px 0px 0px -241px;

}
.why-prior{
	margin: 0px 0px 0px -683px;

}
.centered{
	margin: 90px 0px 0px 34px;
    width: 95%;
}
.cont-we{
	margin: 13px 0px 0px -211px;



}
.cont-rel{
	margin: 13px 0px 0px -304px;



}
.cont-ser{
	margin: 13px 0px 0px -477px;



}

.cardhub{
	background-color: rgb(109, 156, 200);
	width:23%;
	border-radius: 14px;


}
.tag{
	width:50px;
}
.tag-1{
	width:50px;
}
.tag-2{
	width:50px;
}
.tag-3{
	width:50px;
}